version: '3.8'

services:
  app:
    image: gmsastre/miconcesionaria:latest
    platform: linux/amd64
    ports:
      - "3001:3000"
    environment:
      - 'DATABASE_URL=mysql://miconcesionaria:!FVsxr?pmm34xm2N@db:3306/miconcesionaria'
      - NEXTAUTH_URL=https://miconcesionaria.nodonorte.com
      - NEXTAUTH_SECRET=09W4JFuZPYwZ02dQ/3WDHQggQ+fDCp55nfJCFjoTWC4=
      - SMTP_HOST=smtp1.s.ipzmarketing.com
      - SMTP_PORT=587
      - SMTP_USER=pzbkjxwenzkr
      - SMTP_PASS=7FOtsP0qKvNF
      - NODE_ENV=production
    volumes:
      - uploads_data:/app/uploads
    restart: unless-stopped

  db:
    image: mariadb:10.6
    environment:
      - MYSQL_ROOT_PASSWORD=!FVsxr?pmm34xm2N
      - MYSQL_DATABASE=miconcesionaria
      - MYSQL_USER=miconcesionaria
      - MYSQL_PASSWORD=!FVsxr?pmm34xm2N
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  uploads_data:
  db_data:
